
#wrapper
  %p.btn-gnavi
    %span
    %span
    %span
  %nav#global-navi
    %ul.menu
      %li
        %a{href: ""} トップページ
      %li
        %a{href: ""} ログイン
      %li
        %a{href: ""} 投稿
      %li
        %a{href: ""} 検索
      %li
        %a{href: ""} その他

-# #wrapper
-#   %p.btn-menu
-#     %span /
-#     %span /
-#     %span /
-#   %nav#menu-navi
-#     %ul.menu
-#       %li
-#         %a{href: ""}
-#           トップページ
-#       %li
-#         %a{href: ""}
-#           ログイン
-#       %li
-#         %a{href: ""}
-#           投稿
-#       %li
-#         %a{href: ""}
-#           検索


.header__top
  %p.header__top--text
    Share-ChoCaCaBre


.menu-content
  .menu
    .menu__top
      %a
        = @genre
        = link_to stores_path(genre_id: nil) do
          ALL
    .menu__bottom
      - @genres.each do |genre|
        .menu__list
          %a
            = link_to stores_path(genre_id: genre) do
              = genre.name
    .menu__bottom
      .menu__list
        %a
          = link_to new_detail_path do
            New Post
      .menu__list
        %a
          = link_to new_detail_path do
            Search