
.header__top
  %p.header__top--text
    Share-ChoCaCaBre
.menu-content
  .menu
    .menu__top
      %a
        = link_to 'genres#index' do
          ALL
    .menu__bottom
      .menu__list
        %a
          = link_to 'genres#index' do
            Chocolate
      .menu__list
        %a
          = link_to 'genres#index' do
            Cake
      .menu__list
        %a
          = link_to 'genres#index' do
            Cafe
      .menu__list
        %a
          = link_to 'genres#index' do
            Bread