
= render '/layouts/menu'

.header__top
  %p.header__top--text
    New Post PAGE
.header__middle
.header__bottom

.form
  = form_for details_path do |f|
    .form__contents
      .form__detail
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              = f.label :ganre, "Category", class: "with-gap"
        .form__genre
          - @genres.each_with_index do |genre,i|
            %label.form-radio
              = f.radio_button "genre_id", i+1, class: "with-gap", checked: "checked"
              %span
                = genre.name
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              = f.label :name, "名前"
              = f.text_field :name, id: "autocomplete-input", class: "autocomplete"
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              = f.label :place, "住所"
              = f.text_field :place, id: "autocomplete-input", class: "autocomplete"
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              = f.label :phone_number, "電話番号"
              = f.text_field :phone_number, id: "autocomplete-input", class: "autocomplete"
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              = f.label :feature, "特徴"
              = f.text_field :feature, id: "autocomplete-input", class: "autocomplete"
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              = f.label :opentime, "開店時間"
              = f.text_field :opentime, id: "autocomplete-input", class: "autocomplete"
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              = f.label :closetime, "閉店時間"
              = f.text_field :closetime, id: "autocomplete-input", class: "autocomplete"
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              = f.label :holiday, "休日"
              = f.text_field :holiday, id: "autocomplete-input", class: "autocomplete"
      .form__detail.form__detail-2
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              = f.label :recommendation, "オススメ"
              = f.text_field :recommendation, id: "autocomplete-input", class: "autocomplete"
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              = f.label :average_use_price, "平均金額"
              = f.text_field :average_use_price, id: "autocomplete-input", class: "autocomplete"
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              = f.label :url, "URL"
              = f.text_field :url, id: "autocomplete-input", class: "autocomplete"
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              = f.label :note, "備考"
              = f.text_area :url, id: "textarea1", class: "materialize-textarea form-textarea"
    .form__detail.form__detail-3
      -# %button.clear-btn.btn.waves-effect.waves-light{name: "action"}
      -#   Clear
      -#   %i.material-icons.right
      = f.submit "GO!!!", class: "form-btn btn waves-effect waves-light"
      %i.material-icons.right

  -# %form{id: "new_detail"}
  -#   .form__contents
  -#     .form__detail
  -#       .col.s12
  -#         .row
  -#           .input-field.col.s12
  -#             %i.fas.fa-coffee.fa-lg.fa-fw.prefix 
  -#             %label Category
  -#       .form__genre
  -#         - @genres.each do |genre|
  -#           %p
  -#             %label
  -#               %input.with-gap{checked: "checked", name: "genre_id", type: "radio"}/
  -#               %span
  -#                 = genre.name
  -#         %p
  -#           %label
  -#             %input.with-gap{checked: "checked", name: "genre_id", type: "radio", style: "display: none"}/
              
  -#       .col.s12
  -#         .row
  -#           .input-field.col.s12
  -#             %i.fas.fa-coffee.fa-lg.fa-fw.prefix
  -#             %input#autocomplete-input.autocomplete{type: "text", name: "name"}/
  -#             %label{:for => "autocomplete-input"} 名前
  -#       .col.s12
  -#         .row
  -#           .input-field.col.s12
  -#             %i.fas.fa-coffee.fa-lg.fa-fw.prefix
  -#             %input#autocomplete-input.autocomplete{type: "text", name: "address"}/
  -#             %label 住所
  -#       .col.s12
  -#         .row
  -#           .input-field.col.s12
  -#             %i.fas.fa-coffee.fa-lg.fa-fw.prefix
  -#             %input#autocomplete-input.autocomplete{type: "text", name: "phone_number"}/
  -#             %label 電話番号
  -#       .col.s12
  -#         .row
  -#           .input-field.col.s12
  -#             %i.fas.fa-coffee.fa-lg.fa-fw.prefix
  -#             %input#autocomplete-input.autocomplete{type: "text", name: "feature"}/
  -#             %label 特徴
  -#       .col.s12
  -#         .row
  -#           .input-field.col.s12
  -#             %i.fas.fa-coffee.fa-lg.fa-fw.prefix
  -#             %input#autocomplete-input.autocomplete{type: "text", name: "opentime"}/
  -#             %label 開店時間
  -#       .col.s12
  -#         .row
  -#           .input-field.col.s12
  -#             %i.fas.fa-coffee.fa-lg.fa-fw.prefix
  -#             %input#autocomplete-input.autocomplete{type: "text", name: "closetime"}/
  -#             %label 閉店時間
  -#       .col.s12
  -#         .row
  -#           .input-field.col.s12
  -#             %i.fas.fa-coffee.fa-lg.fa-fw.prefix
  -#             %input#autocomplete-input.autocomplete{type: "text", name: "holiday"}/
  -#             %label 休日
  -#     .form__detail.form__detail-2
  -#       .col.s12
  -#         .row
  -#           .input-field.col.s12
  -#             %i.fas.fa-coffee.fa-lg.fa-fw.prefix
  -#             %input#autocomplete-input.autocomplete{type: "text", name: "recommendation"}/
  -#             %label オススメ
  -#       .col.s12
  -#         .row
  -#           .input-field.col.s12
  -#             %i.fas.fa-coffee.fa-lg.fa-fw.prefix
  -#             %input#autocomplete-input.autocomplete{type: "text", name: "average_use_price"}/
  -#             %label 平均金額
  -#       .col.s12
  -#         .row
  -#           .input-field.col.s12
  -#             %i.fas.fa-coffee.fa-lg.fa-fw.prefix
  -#             %input#autocomplete-input.autocomplete{type: "text", name: "url"}/
  -#             %label URL
  -#       .col.s12
  -#         .row
  -#           .input-field.col.s12
  -#             %i.fas.fa-coffee.fa-lg.fa-fw.prefix
  -#             %textarea#textarea1.materialize-textarea.form-textarea
  -#             %label{:for => "textarea1", name: "note"} 備考
  -#   .form__detail.form__detail-3
  -#     %button.clear-btn.btn.waves-effect.waves-light{name: "action", type: "submit"}
  -#       Clear
  -#       %i.material-icons.right 
  -#     %button.form-btn.btn.waves-effect.waves-light{controller: :detail, action: :create, method: :post, name: "action", type: "submit"}
  -#       GO!!!
  -#       %i.material-icons.right 